* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #282726;
  color: #F9F4DA;
  padding: 20px;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
}

header>h1 {
  font-size: 1.25rem;
  font-weight: 500;
}

header>p {
  color: #8e8e8e;
  font-size: .875rem;
  max-width: 350px;
}

.status {
  background-color: #10A95B;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  height: 60px;
  margin-block: 30px;
}

.status>h2 {
  margin: 0;
  font-size: 1.25rem;
}

.status>p {
  margin: 0;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  justify-content: center;
  gap: 2px;
}

.language-chip {
  border-radius: 3px;
  font-size: 0.75rem;
  padding: 5px;
}

.guess-word {
  margin-block: 30px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.guess-word>span {
  height: 40px;
  width: 40px;
  border-bottom: 1px solid #F9F4DA;
  background-color: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  max-width: 450px;
}

.keyboard>button {
  font-family: "Hanken Grotesk", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: #FCBA29;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  border: 1px solid #D7D7D7;
  cursor: pointer;
}

.new-game {
  margin-block: 30px;
  border: 1px solid #D7D7D7;
  background-color: #11B5E5;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}