* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121213;
  color: white;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

main>h1 {
  font-size: 2.5rem;
}

main>p {
  margin: 0;
  max-width: 400px;
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 40px;
}

.guesses {
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* margin-bottom: 40px; */
}

.guesses>div {
  display: flex;
  gap: 4px;
}

.guesses>div>span {
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
}

.guesses>div>span.correct {
  background-color: #339933;
}

.guesses>div>span.wrong {
  background-color: darkslategray;
}

.guesses>div>span.close {
  background-color: #dddd00;
}

.status {
  margin: 20px;
  height: 30px;
}

.status-section {
  margin: 20px;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  height: 30px;
  font-weight: 700;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  max-width: 350px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.keyboard-row>button {
  background-color: gray;
  color: white;
  border: none;
  font-size: 1.25rem;
  border-radius: 3px;
  height: 40px;
  width: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard-row>button.backspace {
  width: 45px;
}

.keyboard-row>button.enter {
  width: 45px;
  font-size: 0.9rem;
  font-weight: bold;
}

.keyboard-row>button.correct {
  background-color: #339933;
}

.keyboard-row>button.close {
  background-color: #dddd00;
}

.keyboard-row>button.wrong {
  background-color: darkslategray;
}

.new-game {
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: black;
  padding: 10px;
  cursor: pointer;
}